# Example nginx.conf

events {
  worker_connections 768;
}

http {
  server {
    listen 80;
    location /stackengine/ {
      port_in_redirect    off;
      proxy_pass          http://192.168.71.135:8000/;
      proxy_redirect      http://192.168.71.135:8000 /stackengine;
      proxy_set_header    Host             $host;
      proxy_set_header    X-Real-IP        $remote_addr;
      proxy_set_header    X-Forwarded-For  $proxy_add_x_forwarded_for;
    }
  }

  upstream helloworld {
      {{range gets "/apps/i1-hello-80/containers/*"}}
      server {{base .Value}};
      {{end}}
  }

  server {
    listen 8889;
    location / {
      proxy_pass          http://helloworld;
    }
  }


  server {
    listen       8080;

    location / {
      resolver 8.8.8.8;
      proxy_pass http://$http_host$uri$is_args$args;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
      root   html;
    }
  }
}